$header-height: 60px;
$index-width: 300px;

.social-media-icon {
    width: 16px;
    height: 16px;
}

.index-leaf-node {
    padding-left: 16px;
}

.page-header {
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    clear: both;
    border-bottom: 1px solid lightgray;
    position: fixed;
    height: $header-height;
    width: 100%;
    top: 0;
    left: 0;

    .user-profile {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.body-wrapper {
    margin-top: $header-height;
    height: calc(100vh - #{$header-height});

    .page-index {
        background-color: rgb(236, 236, 236);
        float: left;
        width: $index-width;
        height: 100%;
        overflow: auto;
    }

    .page-content {
        background-color: white;
        margin-left: $index-width;
        height: 100%;
        overflow: auto;
        padding: 4px;
    }

}



