import React from 'react'

class ContentComponent extends React.Component {
    render() {
        return (
            <div>
            {{ content }}
            </div>
        )
    }
}

window['ContentComponent'] = ContentComponent;
