<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="with=device, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{site_prefix}}/static/images/logo.png">
    <link rel="stylesheet" href="{{site_prefix}}/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site_prefix}}/static/css/react-treeview.css">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
        integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
        crossorigin="anonymous">
    </script>

    <script
        src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous">
    </script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script
        src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
        crossorigin>
    </script>

    <meta name="page_config" content="{{ page_config }}">


    <script crossorigin src="{{site_prefix}}/static/js-bundle/{{page_name}}-page.js"></script>
    <script crossorigin src="{{site_prefix}}/static/js-bundle/page-frame.js"></script>
</head>

<body>
    <div id="app"></div>
</body>
</html>